<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dell.example.com.letschat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="dell.example.com.letschat.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="dell.example.com.letschat.Teacher.teacherlogin" />
        <activity android:name="dell.example.com.letschat.Admin.addstudent" />
        <activity android:name="dell.example.com.letschat.Admin.addteacher" />
        <activity android:name="dell.example.com.letschat.Admin.adminlogin" />
        <activity android:name="dell.example.com.letschat.Student.student_attendance_sheet" />
        <activity android:name="dell.example.com.letschat.Student.studentlogin" />
        <activity android:name="dell.example.com.letschat.Teacher.takeAttendance" />
        <activity android:name="dell.example.com.letschat.Teacher.teacher_attendanceSheet" />
        <activity android:name="dell.example.com.letschat.Admin.AddCourse" />
        <activity android:name="dell.example.com.letschat.Admin.RemoveStudent" />
        <activity android:name="dell.example.com.letschat.Admin.RemoveTeacher" />
        <activity android:name="dell.example.com.letschat.Admin.AddCoursesTeacher" />
        <activity android:name="dell.example.com.letschat.Admin.RemoveCourse" />
        <activity android:name="dell.example.com.letschat.Admin.RemoveCoursesTeacher" />
        <activity android:name="dell.example.com.letschat.Teacher.StudentRecord" />
        <activity android:name="dell.example.com.letschat.Teacher.ClassRecord" />
        <activity android:name="dell.example.com.letschat.Teacher.ClassRecordDisplay" />
        <activity android:name="dell.example.com.letschat.Student.CourseRecord"></activity>
    </application>

</manifest>