<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dell.example.com.letschat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Teacher.teacherlogin" />
        <activity android:name=".Admin.addstudent" />
        <activity android:name=".Admin.addteacher" />
        <activity android:name=".Admin.adminlogin" />
        <activity android:name=".Student.student_attendance_sheet" />
        <activity android:name=".Student.studentlogin" />
        <activity android:name=".Teacher.takeAttendance" />
        <activity android:name=".Teacher.teacher_attendanceSheet" />
        <activity android:name=".Admin.AddCourse" />
        <activity android:name=".Admin.RemoveStudent" />
        <activity android:name=".Admin.RemoveTeacher" />
        <activity android:name=".Admin.AddCoursesTeacher" />
        <activity android:name=".Admin.RemoveCourse" />
        <activity android:name=".Admin.RemoveCoursesTeacher" />
        <activity android:name=".Teacher.StudentRecord" />
        <activity android:name=".Teacher.ClassRecord" />
        <activity android:name=".Teacher.ClassRecordDisplay" />
        <activity android:name=".Student.CourseRecord"></activity>
    </application>

</manifest>